footer.footer
    .container
        .footer__top
            .logo.logo--footer
                img(src="content/images/icons/logo-white.svg" width="255" height="60")
            .footer__menu
                a().link.link--simple-white.scroll-btn(data-target=".section--who-we")
                   | ABOUT
                a(href="#").link.link--simple-white
                    | TESTIMONIALS
                a(href="#").link.link--simple-white
                    | USP 'S
                a().link.link--simple-white.scroll-btn(data-target=".section--services")
                    | SERVICES
                a().link.link--simple-white.scroll-btn(data-target=".section--solutions")
                    | SOLUTIONS
                a().link.link--simple-white
                    | PROCESS
        .footer__bottom
            .footer__text
                | &copy;
                | Cosimo Cloud. All rights Reserved 2023
            .footer__right
                a(href="#").footer__text Terms Of Use
                a(href="#").footer__text Privacy Policy
                a(href="#").footer__text Cookie Policy
script(type="text/javascript" src="scripts/modules/modules.js")
script(src="scripts/common.js")
