/* Vars:
   ========================================================================== */

// Font
$mainFont: 'bryant-web-condensed', Helvetica, Arial, sans-serif;
$secondFont: 'bryant-web-alternate', Helvetica, Arial, sans-serif;
$thirdFont: 'bryant-web', Helvetica, Arial, sans-serif;
//$secondFont: 'Noto Serif', Helvetica, Arial, sans-serif;

// Main color
$color-white: #fff;
